.fondo {
    background-color: #EDF1F7;
    height: auto;
    display: flex;
    border-radius: 12px;
    padding: 3.5% 4%;
    margin-bottom: 2vh;
}

.texto {
    font-size: 1rem;
    color: #2F2D2E;
    font-family: 'Montserrat', Helvetica;
}

.titulo {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2%;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* *Sector Izquierdo */
.contenedorIzquierdo {
    width: 65%;
}

.estadoTerminado {
    border: none;
    width: 50%;
    height: auto;
    background-color: #e36370;
    font-size: 0.8rem;
    font-family: 'Montserrat', Helvetica;
    font-weight: 600;
    border-radius: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}


.estadoNoTerminado {
    border: none;
    width: 50%;
    height: auto;
    background-color: #20ac6b;
    font-size: 0.8rem;
    font-family: 'Montserrat', Helvetica;
    font-weight: 600;
    border-radius: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
}

.textoEstado {
    font-weight: 600;
    color: WHITE;
    padding-right: 5px;
}

.tipoAsamblea {
    margin-top: 5%;
}

/* *Sector Derecho */
.contenedorDerecho {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.vermas {
    background-color: #FEB172;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 4%;
    margin-top: 5%;
    cursor: pointer;
    font-weight: 600;
    font-size: 80%;
    text-align: center;
}

.vermas:hover {
    background-color: #EBA433;
}

.realizacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fecha {
    padding-left: 5px;
    font-weight: 600;
}

.ContenedorHora {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contenedorFecha {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* *### Responsive ### */

/* Telefono - Tablet */
@media (max-width: 768px) {
    .estadoNoTerminado {
        width: 40%;
    }

    .estadoTerminado {
        width: 40%;
    }

    .fondo {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3.5vh 0;
    }

    .realizacion {
        display: flex;
        justify-content: space-around;
        align-items: cen;
        margin: 0%;
    }

    .fecha {
        display: flex;
        justify-content: center;
    }

    .ContenedorHora {
        display: flex;
        justify-content: center;
        margin-left: 6vh;
    }

    .contenedorDerecho {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedorFecha {
        padding-right: 6vh;
    }

    .contenedorIzquierdo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .vermas {
        margin-top: 2vh;
        width: 45%;
        height: 2vh;
        padding: 2.5vh;
        text-align: center;
    }

    .contenedor {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 0px !important;
    }


}


/* Pantallas pequeñas - grandes */
@media (min-width: 769px) and (max-width: 1199px) {

    .fondo {
        margin-left: 5vh;
        margin-right: 5vh;
        margin-bottom: 4vh;
        padding: 5vh 1vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .contenedorIzquierdo {
        padding: 0;
        width: 50%;
    }

    .contenedorDerecho {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .realizacion {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    .vermas {
        margin: 0;
        padding: 2vh 0;
    }

    .estadoNoTerminado {
        width: 60%;
    }

    .estadoTerminado {
        width: 60%;
    }

}