@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
.navbar{
    background-color: #428BCA;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imagenNavbar{
    margin-left: 5vh;
}
.contenedorLista{
    margin-right: 5vh;
}
.lista{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 14px;
}
.texto_lista{
    margin: 0;
}
.contenedorLista{
    margin: 0;
    padding: 0 2vh 0 2vh;
    display: flex;
    text-align: center;
}
.active{
    border-bottom: 2px solid #FEB172;
}

@media (max-width: 768px){
    .navbar{
        justify-content: center;
    }
    .imagenNavbar{
        display: none;
    }
}