.contenedorCard {
    background-color: #EDF1F7;
    width: 100%;
    height: 15%;
    border-radius: 12px;
    margin-bottom: 4vh;
    padding: 2vh 0;
    display: grid;
    grid-template-columns: auto auto auto;
}
.tipoGasto{
    display: flex;
    justify-content: center;
}
.datosGasto{
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.date{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-right: 15%;
}
.date p{
    margin-left: 0.5vh;
}
.precioGasto{
    display: flex;
    justify-content: center;

}
.containerBoton{
    grid-column: 3/3;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.buttom{
    font-weight: bold;
    background-color: #FEB172;
    border: none;
    color: white;
    padding: 1.75vh 1vh;
    border-radius: 10px;
}
.buttom:hover{
    background-color: #EBA433;
}