/* *Seccion Input Calendario */
.opciones_filtro_fecha {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-right: 5%;
}

.calendario {
    width: 100%;
}

/* *Seccion Input Checkbox */
.opciones_filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto {
    font-size: 1.5vh;
    font-weight: 400;
    color: #2F2D2E;
    font-family: 'Montserrat', Helvetica;
}

.checkbox input[type="checkbox"] {
    display: none;
    margin-right: 1vw;
}