.fondo {
    background-color: #EDF1F7;
    width: 100%;
    height: auto;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor {
    width: 75%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    border-radius: 60px;
}

.contenedorInferior{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* * Sector Izquierdo */
.contenedorSectorIzquierdo {
    margin-top: 5vh;
    width: 25%;
    height: auto;
}

.Propiedades_boton {
    background-color: #20ac6b;
    color: #FFFFFF;
    width: 100%;
    height: auto;
    padding: 3.5%;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-bottom: 5%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros {
    background-color: #EDF1F7;
    width: auto;
    height: auto;
    border-radius: 24px;
    padding: 10% 20%;
}

.titulo_filtro {
    font-size: 1.8rem;
    font-weight: 600;
}

.ContainerFiltro {
    width: 100%;
    height: auto;
    line-height: 0;
}

/* *Sector Derecho */
.contenedorSectorDerecho {
    width: 55%;
    margin-top: 5vh;
    height: 100%;
}

.listaCards {
    width: 100%;
    height: auto;

}

.Propiedades_icono{
    margin: 0 1vh;
}

@media (max-width: 768px){
    .contenedor{
        width: 100%;
    }
    .contenedorInferior{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contenedorSectorIzquierdo{
        width: 90%;
    }
    .Propiedades_boton{
        padding: 2vh;
    }
    .contenedorSectorDerecho{
        width: 90%;
    }
}

@media (min-width: 769px) and (max-width: 1199px){
    .contenedorInferior{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorSectorIzquierdo{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0;
        height: 70%;
        align-items: center;
    }
    .Propiedades_boton{
        margin: 0 4vh 0 0;
        padding: 0;
        height: 9vh;
        width: 50%;
    }
    .contenedorSectorDerecho{
        width: 90%;
    }
}