/** .: CONTENEDORES GENERALES :. **/

.Contenedor_principal {
    background-color: #EDF1F7;
    top: 9vh;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contenedor_secundario {
    background-color: #fff;
    /* background-color: burlywood; */
    height: 85%;
    width: 80%;
    border-radius: 60px;
    position: relative;
}

.Contenedor_titulo {
    background-color: #fff;
    /* background-color: green; PRUEBAS */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border-radius: 60px;
}

.Contenedor_contenido {
    /* background-color: #fff; */
    background-color: blue;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    top: 20%;
}

/** .: CONTENEDORES "rendicion_cuentas" :. **/

.Contenedor_crearGasto_filtro {
    background-color: #fff;
    /* background-color: yellow; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.Contenedor_filtro {
    background-color: #EDF1F7;
    width: 70%;
    height: 70%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.Contenedor_card {
    background-color: #fff;
    /* background-color: aqua; PRUEBAS */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin-left: 40%;
}

/** .: CONTENEDORES "crear_gasto" **/

.Contenedor_asunto_total {
    background-color: #72A98F;
    width: 100%;
    height: 20%;
}

.Contenedor_tipo_fecha {
    background-color: aqua;
    width: 100%;
    height: 20%;
}

.Contenedor_detalle {
    background-color: azure;
    width: 100%;
    height: 30%;
}

.Contenedor_boleta {
    background-color: brown;
    width: 100%;
    height: 20%;
}

.Contenedor_boton {
    background-color: wheat;
    width: 100%;
    height: 10%;
}

/** .: PROPIEDADES :. **/

.Propiedades_texto{
    color: #2F2D2E;
    font-family: 'Montserrat', sans-serif;
}

.Propiedades_boton {
    background-color: #72A98F;
    color:#FFFFFF;
    /* margin-top: -10%; */
    width: 70%;
    height: 9%;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 25px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}