.contenedorCard {
    background-color: #EDF1F7;
    display: flex;
    width: 100%;
    height: 15%;
    border-radius: 12px;
    margin-bottom: 4vh;
    align-items: baseline;
    justify-content: space-between;
    padding: 2vh 0;
}
.contenedorTipo{
    margin-left: 3vh;
}
.contenedorInfoGasto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorDetalleGasto{
    width: auto;
    margin-right: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.propiedadesBoton{
    width: 100%;
    background-color: #20ac6b;
    border: none;
    color: white;
    padding: 1.75vh 1vh;
    border-radius: 10px;
}