.fondo {
    background-color: #EDF1F7;
    width: 100%;
    height: auto;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedorTitulo h1 {
    font-size: 30px;
}

.dot {
    height: 10%;
    width: 10%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.separationLine {
    width: 40%;
    height: 1px;
}

.linea {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
}

.contenedor {
    width: 75%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 60px;
}

/* * Sector Izquierdo */
.contenedorSectorIzquierdo {
    margin-top: 5vh;
    width: 25%;
    height: auto;
}

.Propiedades_boton {
    background-color: #20ac6b;
    color: #FFFFFF;
    width: 100%;
    padding: 3.5%;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-bottom: 5%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros {
    background-color: #EDF1F7;
    width: auto;
    height: auto;
    border-radius: 24px;
    padding: 10% 20%;
}

.titulo_filtro {
    font-size: 1.8rem;
    font-weight: 600;
}

.ContainerFiltro {
    width: 100%;
    height: auto;
    line-height: 0;
}

/* *Sector Derecho */
.contenedorSectorDerecho {
    width: 55%;
    margin-top: 5vh;
}

.listaCards {
    width: 100%;
    height: auto;

}

.Propiedades_icono {
    margin: 0 1vh;
}

/* *### CSS Crear Asambleas ### */

.selectTipo {
    width: 100%;
    padding: 1% 2%;
    margin-bottom: 5%;
    border-radius: 24px;
}

.contenedorAsunto {
    display: flex;
    margin-bottom: 1%;
    flex-wrap: wrap;
}

.contenedorFecha {
    display: flex;
    margin-bottom: 1%;
    flex-wrap: wrap;
}

.labels {
    width: 80%;
    border-radius: 24px;
    margin-bottom: 1%;
}

.inputs {
    width: 100%;
    padding: 1% 2%;
    margin-bottom: 5%;
    border-radius: 24px;
}

.contenedorCrear {
    width: 60%;
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedores {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/* *### Responsive ### */

/* Telefono - Tablet */
@media (max-width: 768px) {
    .contenedor {
        width: 100%;
        display: inline;
        border-radius: 0;
    }

    .contenedorSectorIzquierdo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Propiedades_boton {
        width: 80%;
        height: 5vh;
    }

    .filtros {
        width: 80%;
        padding: 0;
    }

    .contenedorSectorDerecho {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .listaCards {
        width: 100%;
    }
}

/* Pantallas pequeñas - grandes */
@media (min-width: 769px) and (max-width: 1199px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedorSectorIzquierdo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 4vh;
    }

    .Propiedades_boton {
        margin: 0 5vh 0 5vh;
        padding: 3vh;
        display: flex;
        flex: row;
        align-items: center;
        justify-content: center;
    }

    .Propiedades_icono {
        height: 4.5vh;
    }

    .filtros {
        margin: 0 5vh 0 0;
        padding: 5vh 0;
        width: 100%;
    }

    .contenedorSectorDerecho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 0;
    }
}

/* Pantallas Extra Grandes */
@media (min-width: 1201px) {}