.fondo {
    background-color: #EDF1F7;
    width: 100%;
    height: auto;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor {
    width: 75%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    background-color: #FFF;
    display: flex;
    overflow: hidden;
    border-radius: 60px;
}

.contenedorCrear {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2C3E50;
    margin-bottom: 2rem;
}

.contenedores {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
}

.contenedorAsunto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.contenedorTipoAsamblea {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: center;
}

.contenedorFecha {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
    align-items: center;
}

.inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.textarea {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.selectTipo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Propiedades_boton {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.contenedorPuntos {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: baseline;
    margin-bottom: 2%;
}

.contenedorPunto {
    width: 90%;
}

.contenedorBoton {
    width: 10%
}

.contenedorContexto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.contenedorContexto textarea {
    resize: none;
    min-height: 50%;
}



.icon {
    cursor: pointer;
    color: green;
    margin-bottom: 1%;
}