.fondo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../public/ant-rozetsky-HXOllTSwrpM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorError{
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    background-color: #000000;
    opacity: 0.75;
    border-radius: 50px;
    padding: 8vh;
}
.contenedorIzquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textoError{
    display: flex;
    font-size: 60px;
    margin: 0;
}
.texto404{
    margin: 0;
    font-size: 100px;
}
.contenedorCentral{
    padding: 3vh;
}
.contenedorDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textoPagina{
    font-size: 60px;
    margin: 0;
}
.sad{
    margin-top: 3vh;
    height: 7vh;
}

@media (max-width: 768px){
    .contenedorError{
        flex-direction: column;
    }
    .separadorVertical{
        padding: 3vh;
        display: none;
    }
}

@media (min-width: 769px){
    .separadorHorizontal{
        padding: 3vh;
        display: none;
    }
}