.fondo {
    background-color: #EDF1F7;
    width: 100%;
    height: auto;
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 3.5% 5%;
    border-radius: 60px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.datos_hora {
    text-align: center;
}

.datos_fecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.propiedades_Boton {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1.5vh 2vh;
    border-radius: 10px;
    cursor: pointer
}

.boton_generar {
    background-color: #20ac6b;
}

.disabled {
    pointer-events: none;
    background-color: gray;
}

.boton_volver {
    background-color: #EDAE49;
}

.boton_generar:hover {
    background-color: #198A55;
}

.boton_volver:hover {
    background-color: #EBA433;
}

.datos_titulo {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.propiedades_titulo {
    font-size: 1.3rem;
    font-weight: 600;
}

.propiedades_texto {
    font-size: 1.1rem;
    font-weight: 600;
}

.listaCards {
    width: 100%;
    height: auto;

}

.Propiedades_icono {
    margin: 0 1vh;
}

/* *### Responsive ### */

/* Telefono - Tablet */
@media (max-width: 768px) {
    .contenedor {
        width: 100%;
        display: inline;
        border-radius: 0;
    }

    .contenedorSectorIzquierdo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .Propiedades_boton {
        width: 80%;
        height: 5vh;
    }

    .filtros {
        width: 80%;
        padding: 0;
    }

    .contenedorSectorDerecho {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .listaCards {
        width: 100%;
    }
}

/* Pantallas pequeñas - grandes */
@media (min-width: 769px) and (max-width: 1199px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedorSectorIzquierdo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-bottom: 4vh;
    }

    .Propiedades_boton {
        margin: 0 5vh 0 5vh;
        padding: 3vh;
        display: flex;
        flex: row;
        align-items: center;
        justify-content: center;
    }

    .Propiedades_icono {
        height: 4.5vh;
    }

    .filtros {
        margin: 0 5vh 0 0;
        padding: 5vh 0;
        width: 100%;
    }

    .contenedorSectorDerecho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 0;
    }
}