.propiedades_BotonGoogle {
    background-color: #9CA3AB;
    border-radius: 10px;
    border: 1px solid #9CA3AB;
    height: 50px;
    margin-top: 45px;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.propiedades_BotonGoogle:hover{
    background-color: #E3E5E7;
    border: 1px solid #E3E5E7;
    transition: 0.4s;
    color: #000000;
}
.contenedorBoton{
    width: 100%;
}
.icon_Boton{
    padding: 0 1.5vh 0 0;
}
.propiedadesBoton {
    background-color: #428BCA;
    border-radius: 10px;
    border: 1px solid #428BCA;
    height: 50px;
    margin-top: 2.5vh;
    font-size: 22px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.propiedadesBoton:hover{
    background-color: #1B6AAA;
    border: 1px solid #1B6AAA;
    transition: 0.4s;
}
